/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
p{
    margin: 0px;
}

#header{
    background-color:rgba(35, 33, 33);
    padding: 15px;
    text-align: center;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
     z-index: 1000; 
}
#header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px rgba(35, 33, 33, 0.929);
            box-shadow: 0 2px 2px rgba(35, 33, 33, 0.929);
}
.menu-align-items-center{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 40px 15px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-conteiner{
    margin: 0px;
    display: block;
    width: 50%;

}
#menu-list-color a{
    color: rgb(0, 163, 224);
}
.menu-list{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
   
}
.menu-list li a{
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.menu-list li :hover{
    color: rgb(0, 163, 224);
}
#hid-chkk a label img{
    width: 20px;
    cursor: pointer;
}
.hamb{
    width: 50px;
    display: none;
}
#chk{
    display: none;
}
#hid-chkk{
    display: none;
}
.logo {
    width: 30%;
}
.logo a img{
    width: 40px;
}
.logo a{
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.tec-edu{
    width: 100%;
    height: 352px;
    
}
.tec-edu-img{
    width: 100%;
    height: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    background-position: center;
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1507,h_420,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
}
.tec-edu-title{
    padding-top: 90px;
    width: 100%;
}
.tec-edu-title h3{
    margin: 0px 30px;
    color: rgb(244, 244, 244);
    font-size: 40px;
    line-height: 1.6em;
}
.about-program{
    width: 100%;
    height: auto;
    
    background-color: rgb(43, 43, 43);
}
.program-conteiner{
    width: 80%;
    margin:auto;
    height: 460px;
    padding-top: 40px;
}
.program-info p{
    color:  #F4F4F4;
    font-size: 28px;
    line-height: 1.6em;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif ;
}
.program-link{
    margin-top: 30px;
}
.program-link a{
    color:rgb(0, 163, 224) ;
    font-weight: 600;
    font-size: 24px;
}
.program-link a:hover{
    color:rgb(95, 95, 95) ;
}
.courses{
    width: 100%;
    height: 250vh;
    background-color: rgb(22, 22, 22);
}
.courses-conteiner{
    width: 85%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
h4{
    color: #DBDBDB;
    font-size: 24px;
}
.courses-menu{
    width: 100%;
    height: 95%;
}
.courses-menu-1{
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.course-item{
    width: 30%;
    height: 400px;
    border: 1px solid #ffffffa1;
    border-radius: 10px;
}
.course-img{
    width: 100%;
}
.course-img img{
    width: 100%;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}
.course-info{
    width: 80%;
    margin: auto;
}
.course-info h5{
    font-size: 18px;
    color: rgb(244, 244, 244)
}
.course-info p{
    color: rgb(244, 244, 244);
    font-size: 14px;
    margin-bottom: 70px;
    
}
#course-info-p{
    margin-bottom: 50px;

}
.course-detail{
    width: 63%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.course-detail a, i{
    color: rgb(0, 174, 239);
    font-size: 16px;
    
}
.course-detail a:hover{
    color: rgba(0, 175, 239, 0.548);
       
}

.slider{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: rgb(40, 43, 44);
    overflow: hidden;
}

.carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  height: 50vh;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.carousel-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel-slide img {
  width:22% ;
  height: auto;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

#prevBtn, #nextBtn {
  position: absolute;
  width: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 26px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff8f8;
}

#prevBtn {
     left: 20px;
     top: 25vh;
     
     }
#nextBtn {
    right: 20px;
    top: 25vh;
    
}
.nav-container {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
  }

  .nav-container ol {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -20px;
    padding: 0;
    margin: 0;
  }
